DB_USER=postgres
DB_PASSWORD=12345
DB_HOST=localhost
DB_NAME=sabor_azul_db
DB_PORT=5432
JWT_SECRET=SaborAzulToken2026

FRONTEND_URL=http://localhost:5173
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
STRIPE_SECRET_KEY=
RESTAURANT_LAT=17.062635
RESTAURANT_LNG=-96.727788
WEATHERAPI_KEY=
WEATHERAPI_CITY=Oaxaca, Mexico
Maps_API_KEY=AIzaSyBfMvAuUNMMGW_DF9abhhYROI6tojU3crU

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
MAIL_FROM="Sabor Azul <correo@ejemplo.com>"
